<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">attach_money</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Objednávka ID #<span id="order-id"></span></h4>
                        <ul class="timeline timeline-simple">
                            <li class="timeline-inverted">
                                <div class="timeline-badge danger">
                                    <i class="material-icons">apps</i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <span class="label label-danger">Produkt</span>
                                    </div>
                                    <div class="timeline-body">
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Názov
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="product-name"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Materiál
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="product-material"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Inštalácia
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="product-installation"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Finalizácia
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="product-finalisation"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Rozmer
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="product-size"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Množstvo
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="product-quantity"></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge success">
                                    <i class="material-icons">person</i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <span class="label label-success">Zákazník</span>
                                    </div>
                                    <div class="timeline-body">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        <h4 class="panel-title">
                                                            Osobné údaje
                                                            <i class="material-icons">keyboard_arrow_down</i>
                                                        </h4>
                                                    </a>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label">
                                                                Meno
                                                            </label>
                                                            <div class="col-sm-10">
                                                                <b id="customer-name"></b>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label">
                                                                Priezvisko
                                                            </label>
                                                            <div class="col-sm-10">
                                                                <b id="customer-surname"></b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="heading-address">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        <h4 class="panel-title">
                                                            Adresa
                                                            <i class="material-icons">keyboard_arrow_down</i>
                                                        </h4>
                                                    </a>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-address">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label">
                                                                Adresa
                                                            </label>
                                                            <div class="col-sm-10">
                                                                <b id="customer-address"></b>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label">
                                                                PSČ
                                                            </label>
                                                            <div class="col-sm-10">
                                                                <b id="customer-postcode"></b>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label">
                                                                Mesto
                                                            </label>
                                                            <div class="col-sm-10">
                                                                <b id="customer-city"></b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAddress" aria-expanded="false" aria-controls="collapseTwo">
                                                        <h4 class="panel-title">
                                                            Adresa doručenia
                                                            <i class="material-icons">keyboard_arrow_down</i>
                                                        </h4>
                                                    </a>
                                                </div>
                                                <div id="collapseAddress" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label">
                                                                Adresa
                                                            </label>
                                                            <div class="col-sm-10">
                                                                <b id="customer-delivery-address"></b>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label">
                                                                PSČ
                                                            </label>
                                                            <div class="col-sm-10">
                                                                <b id="customer-delivery-postcode"></b>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label">
                                                                Mesto
                                                            </label>
                                                            <div class="col-sm-10">
                                                                <b id="customer-delivery-city"></b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        <h4 class="panel-title">
                                                            Kontakt
                                                            <i class="material-icons">keyboard_arrow_down</i>
                                                        </h4>
                                                    </a>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label">
                                                                Telefón
                                                            </label>
                                                            <div class="col-sm-10">
                                                                <b id="customer-telephone"></b>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2 col-form-label">
                                                                Email
                                                            </label>
                                                            <div class="col-sm-10">
                                                                <b id="customer-email"></b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge info">
                                    <i class="material-icons">local_shipping</i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <span class="label label-info">Preprava</span>
                                    </div>
                                    <div class="timeline-body">
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Názov
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="shipping-name"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Cena
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="shipping-price"></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge danger">
                                    <i class="material-icons">attach_money</i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <span class="label label-danger">Cena</span>
                                    </div>
                                    <div class="timeline-body">
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Základná cena / m2
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="price-base"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Materiál / m2
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="price-material"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Inštalácia / m2
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="price-installation"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Finalizácia / m2
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="price-finalisation"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Cena / ks
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="price-piece"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Zľava
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="price-discount"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Preprava
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="price-shipping"></b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">
                                                Cena celkom
                                            </label>
                                            <div class="col-sm-10">
                                                <b id="price-total"></b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
