<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">equalizer</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Počet objednávok</p>
                        <h3 class="card-title">{{orderscount}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">equalizer</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Počet zákazníkov</p>
                        <h3 class="card-title">{{customerscount}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">equalizer</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Počet článkov</p>
                        <h3 class="card-title">{{blogscount}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">equalizer</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Počet inšpirácií</p>
                        <h3 class="card-title">{{inspirationscount}}</h3>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs" data-background-color="rose">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Reporty chýb</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#products" data-toggle="tab">
                                            Produkty
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#blog" data-toggle="tab">
                                            Blog
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#inspirations" data-toggle="tab">
                                            Inšpirácia
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#filters" data-toggle="tab">
                                            Filtre
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#shippings" data-toggle="tab">
                                            Preprava
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="products">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor="let product_report of product_reports" id="product-{{product_report.id}}">
                                            <td>{{product_report.message}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="blog">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor="let blog_report of blog_reports" id="blog-{{blog_report.id}}">
                                            <td>{{blog_report.message}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="inspirations">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor="let inspiration_report of inspiration_reports" id="inspiration-{{inspiration_report.id}}">
                                            <td>{{inspiration_report.message}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="filters">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor="let filter_report of filter_reports" id="filter-{{filter_report.id}}">
                                            <td>{{filter_report.message}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="shippings">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor="let shipping_report of shipping_reports" id="shipping-{{shipping_report.id}}">
                                            <td>{{shipping_report.message}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">equalizer</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Počet návštevˇ</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="visitsChart" class="ct-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">equalizer</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Prehliadače</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Prehliadač</th>
                                                <th class="text-center">Počet</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let browser of browsers">
                                                <td>{{browser.browser}}</td>
                                                <td class="text-center">{{browser.sessions}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">equalizer</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Podstránky</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Podstránka</th>
                                                <th class="text-center">Počet</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let page of pages">
                                                <td>{{page.url}}</td>
                                                <td class="text-center">{{page.pageViews}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
