<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">image</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Inšpirácia</h4>
                        <div class="table-responsive">
                            <table class="table" id="inspirations-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Náhľad</th>
                                        <th>Názov</th>
                                        <th class="text-right">Akcie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let inspiration of inspirations" id="{{inspiration.id}}">
                                        <td>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="selector"></label>
                                            </div>
                                        </td>
                                        <td class="img-container">
                                            <img src="/img/{{inspiration.img}}" alt="{{inspiration.name}}">
                                        </td>
                                        <td class="inspiration-name">{{inspiration.name}}</td>
                                        <td class="td-actions text-right">
                                            <a [routerLink]="['/inspiration/edit', inspiration.id]">
                                                <button type="button" rel="tooltip" class="btn btn-success">
                                                   <i class="material-icons">edit</i>
                                                </button>
                                            </a>
                                            <button type="button" rel="tooltip" class="btn btn-danger" (click)="removeInspiration(inspiration.id, inspiration.name)">
                                               <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#/files/list/inspirations"><button class="btn btn-rose btn-fill">Súbory</button></a>
                        <label class="btn btn-rose btn-fill pull-right">
                            Hromadný import
                            <input type="file" accept="image/*" id="inspiration-multiupload" style="display: none;" ng-model="data.image" multiple />
                        </label>
                        <a href="#/inspiration/new"><button class="btn btn-rose btn-fill pull-right">Nová Inšpirácia</button></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="multiple-filters">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">image</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Hromadná úprava</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <select id="filtercategory" class="selectpicker" data-style="btn btn-rose btn-round" title="select" data-size="7">
                                    <option disabled selected>Kategória</option>
                                    <option value="product">Produkt</option>
                                    <option value="room">Miestnosť</option>
                                    <option value="color">Farba</option>
                                    <option value="design">Dizajn</option>
                                </select>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="filters-selection" class="tagsinput" data-role="tagsinput" data-color="rose" ng-model="filter.product" placeholder="+ Filter" aria-label="+ Filter" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-rose btn-fill" (click)="updateFilters()">Aktualizovať filtre</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
