<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">local_shipping</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Preprava</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Náhľad</th>
                                        <th>Názov</th>
                                        <th>Cena</th>
                                        <th class="text-right">Akcie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let shipping of shippings">
                                        <td class="img-container">
                                            <img src="/img/{{shipping.img}}" alt="{{shipping.name}}">
                                        </td>
                                        <td>{{shipping.name}}</td>
                                        <td class="td-number">
                                            {{shipping.price}}<small>&euro;</small>
                                        </td>
                                        <td class="td-actions text-right">
                                            <a [routerLink]="['/shippings/edit', shipping.id]">
                                                <button type="button" rel="tooltip" class="btn btn-success">
                                                   <i class="material-icons">edit</i>
                                                </button>
                                            </a>
                                            <button type="button" rel="tooltip" class="btn btn-danger" (click)="removeShipping(shipping.id, shipping.name)">
                                               <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#/files/list/shipping"><button class="btn btn-rose btn-fill">Súbory</button></a>
                        <a href="#/shippings/new"><button class="btn btn-rose btn-fill pull-right">Nová preprava</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
